* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background-color: #1F1F3D;
  color: #ffffff;
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.navbar__header {
  margin: 0 10px;
}

span {
  color: #FEC40E;
}

.navbar__form1--input {
  border-radius: 2%;
  border: 0;
  display: flex;
  font-size: 15px;
  height: 45px;
  padding: 5px;
  width: 80%;
}

.navbar__form1 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar__form1--image,
.sidebar__form2--image {
  height: 45px;
  padding: 10px;
  width: 13%;
}

.navbar__form1--image {
  background-color: #c8D3d9;
}

main {
  display: flex;
}

aside {
  background-color: #587A8A;
  flex-wrap: wrap;
  height: 100%;
  width: 30%;
}

label {
  color: lightgrey;
  margin: 0 10px;
  width: 100%;
}

li {
  color: #ffffff;
  display: inline-flex;
  margin: 10px 20px;
  width: 100%;
  word-break: break-word;
}

.sidebar__list--image--delete {
  height: 20px;
  margin-right: 5px
  width: 20px;
}

.sidebar__form1,
.sidebar__form2 {
  margin-top: 25px;
}

.sidebar__form2 {
  align-items: center;
  border-bottom: 2px solid #3C6577;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.sidebar__form1--input,
.sidebar__form2--input {
  border-color: #1F1F3D;
  font-size: 20px;
  height: 45px;
  margin: 5px 10px;
  vertical-align: middle;
  width: 90%;
}

.sidebar__form2--input {
  margin-right: 0;
  width: 77%;
}

.sidebar__form2--button2,
.sidebar__form2--button3,
.sidebar__form2--button4 {
  background-color: #1F1F3D;
  border: none;
  color: #ffffff;
  font-size: 18px;
  height: 45px;
  margin: 5px 10px;
  width: 90%;
}

.sidebar__form2--button3 {
  margin-bottom: 25px;
}

.sidebar__form2--button4 {
  margin-top: 25px;
}

.sidebar__form2--image {
  background-color: #1F1F3D;
}

.todo {
  background-color: #F3F6F7;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.todo__card--container {
  border: 2px solid #C7D3D8;
  height: 280px;
  margin: 3%;
  width: 40%;
}

.todo__card--header {
  border-bottom: 2px solid #C7D3D8;
  height: 35px;
}

h3 {
  color: #1F1F3D;
  margin-left: 10px;
  margin-top: 3px;
}

.todo__card--middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 190px;
}

.todo__card--middle--container {
  align-items: baseline;
  display: flex;
}

.todo__card--checkbox {
  margin-left: 15px;
  width: 20px;
}

.todo__card--text {
  align-self: flex-end;
  color: #1F1F3D;
  margin-left: 10px;
}

.todo__card--footer {
  border-top: 2px solid #C7D3D8;
  display: flex;
  justify-content: space-between;
}

.todo__card--button--urgent,
.todo__card--button--delete {
  color: #3C6577;
  height: 20px;
  margin-top: 10px;
  width: 40px;
}

.todo__card--text--delete,
.todo__card--text--urgent {
  font-size: xx-small;
  margin-left: 4px;
}


